ssid: abcdefg

google_client_id: stuff.apps.googleusercontent.com
google_client_secret: guid-guid-guid

amcrest_front_porch_ip: 0.0.0.0
amcrest_front_porch_username: username
amcrest_front_porch_password: password

thermostat_ip: 0.0.0.0

wyze_username: username
wyze_password: password
wyze_living_room_light_1_ip: 0.0.0.0